/* your custom css */

body {
  font-family: $myFont;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
	font-size: 14px;
	}
	
.toc .toggleNav ul li a {
	font-size: 12px;
	}

	h1, h2 {
	font-family: $myOtherFont; 
}
h1 {
		font-size: 18px;
}
h2 {
		font-size: 16px;
}

p {
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
}

table {
  font-size: 14px;
}
li {
  font-size: 14px;
}
figure {
font-style:  italic;
font-size: 14px;
}
.navPusher { 
background-color:	#F3F5F1;
}

.onPageNav { 
background-color:	#e2e7dc;
}
figure {
font-style:  italic;
}

	
a {
color:  #a33a29;	
	}	
	
blockquote {
background-color: #F3F5F1;
}

blockquote {
border-left-color: #a33a29;
}	
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
		img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1000px) {
	img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.onPageNav {max-width: 150px;}
#docsNav {max-width: 150px;}

}
/* .resp-container {
  position: relative;
    overflow: hidden;
    padding-top: 61.8%;
}*/
.resp-container  {
  overflow: hidden;
  padding-top: 61.8%;
  position: relative;
}
 
.resp-container .resp-iframe {
   border: 0;
   height: 90%;
   position: absolute;
   width: 90%;
   top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted gray;
    text-align: center;
}
	
a {
color:  #a33a29;	
	}

em {
font-style:  italic;

}
img[alt~="hiveware"] {    float: none; }


